
h1{
	color: rgb(227, 108, 10);
}

.moveleft {
	float: left;
}

.styleclear {
	clear: ""
}

.section_grayinback {
	text-align: center;
	margin:0 auto;
	background: #f2f2f2;
	color: #FFA319;
}

.section_blackinback {
	text-align: center;
	margin:0 auto;
	background: #333;
	color: #f7f7f7;
}